{% extends "base.html" %}

{% block content %}
  <h2>Latest Posts</h2>
  {% for post in posts %}
    {% if user == post.author or user.groups.all.0.name == 'Moderator' %}
      <a href="{% url 'edit-post' post.pk %}">Edit</a>
      <a href="{% url 'delete-post' post.pk %}">Delete</a>
    {% endif %}
    <div>
      <strong>
        <a href="{% url 'profile' post.author.username %}">
          {{ post.author.username }}
        </a>
      </strong> - {{ post.created_at|date:"SHORT_DATETIME_FORMAT" }}<br>
      <p>{{ post.content }}</p>
      <hr>
    </div>
    {% include "network/partials/like_button.html" with post=post %}
    <a href="{% url 'post-detail' post.pk %}">
      <button type="button">Comment</button>
    </a>
    <a href="{% url 'post-detail' post.pk %}">{{ post.comment_count }} comments</a>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}
{% endblock %}
