{% extends 'base.html' %}

{% block content %}
  <h2>Edit Your Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>{{ form.profile_picture.label_tag }} {{ form.profile_picture }}</p>
    <p>{{ form.first_name.label_tag }} {{ form.first_name }}</p>
    <p>{{ form.last_name.label_tag }} {{ form.last_name }}</p>
    <p>{{ form.bio.label_tag }} {{ form.bio }}</p>
    <p>{{ form.birthday.label_tag }} {{ form.birthday }} </p>
    <p>{{ form.location.label_tag }} {{ form.location }}</p>

    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
